.footerAll {
  height: 30vh;
  width: 100vw;
  border-bottom: 1px solid grey;
  color: grey;
  background: #313131;
  display: flex;
  justify-content: center;
}

.boxesF {
  display: flex;
  flex-wrap: wrap;

  .box1f {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    padding: 40px;
    h5 {
      color: white;
      font-size: 14px;
    }
    a {
      padding-top: 20px;
      font-size: 15px;
    }
    .line {
      border-bottom: 1px solid white;
      position: absolute;
      width: 40%;
      height: 2%;
      top: 26%;
    }
    img {
      width: 10%;
      height: 10%;
      vertical-align: middle;
    }
  }
  .box2f {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    padding: 40px;
    h5 {
      color: white;
      font-size: 14px;
    }
    .links {
      font-size: 15px;
      a {
        color: orange;
        text-decoration: none;
      }
    }
    .line {
      border-bottom: 1px solid white;
      position: absolute;
      width: 40%;
      height: 2%;
      top: 26%;
    }
  }
  .box3f {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    padding: 40px;
    h5 {
      color: white;
      font-size: 14px;
    }
    a {
      font-size: 15px;
    }
    .line {
      border-bottom: 1px solid white;
      position: absolute;
      width: 40%;
      height: 2%;
      top: 26%;
    }
  }
  .box4f {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    padding: 40px;
    h5 {
      color: white;
      font-size: 14px;
    }
    a {
      font-size: 15px;
    }
    .line {
      border-bottom: 1px solid white;
      position: absolute;
      width: 40%;
      height: 2%;
      top: 26%;
    }
    .name {
      width: 100%;
      height: 20%;
      position: relative;
      top: 20px;
      background: rgb(255, 232, 157);
    }
    .email {
      width: 100%;
      height: 20%;
      position: relative;
      top: 20px;
      background: rgb(255, 232, 157);
    }
    button {
      width: 50%;
      height: 15%;
      position: relative;
      top: 20px;
      left: 25%;
      color: white;
      background: orange;
      &:hover {
        background: grey;
      }
    }
  }
}
