body {
  background: url('./media/a.jpg') no-repeat;
  background-size: cover;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  width: 80%;
}





