.createdPage {
  padding-top: 3.5%;
  padding-bottom: 6.5%;
}

.createdTitle {
  font-size: 0.8rem;
  text-align: center;
}

.createdText {
  margin: 1.2%;
  font-size: 14%;
  text-align: justify;
  font-family: Times-Roman, SansSerif, serif;
}

.createdImage {
  margin: 1.5%,
}

.createdPageNum {
  position: absolute;
  font-size: 0.6rem;
  bottom: 3%;
  left: 0;
  right: 0;
  text-align: center;
  color: grey;
}