body {
  background-image: url("./media/a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100vw;
}

section {
  height: 100%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: auto;
  float: left;
  width: 100%;
  border-radius: 15px;
}

.background {
  background: rgba(96, 183, 209, 0.32);
  padding: 6%;
  overflow: auto;
  border-radius: 15px;
  z-index: 1;
  border: 1px solid rgba(0, 0, 208, 0.6);
}

.page {
  color: navy;
  font-size: 1.2rem;
}

button {
  position: relative;
  background: rgba(11, 10, 87, 0.89);
  color: antiquewhite;
  padding: 1%;
  width: 10%;
  &:hover {
    background: #0000F0;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  color: lightgoldenrodyellow;
  padding-bottom: 2%;
  align-items: center;
}

#scaleSelectContainer {
  min-width: 120px;
  max-width: 120px;
}

#scaleSelect {
  min-width: 142px;
}
