section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 80vh;
  border: 1px solid yellow;
  overflow-y:auto;
  overflow-x:auto;
  float:left;
  position: relative;
}


#scaleSelectContainer {
  min-width: 120px;
  max-width: 120px;
}

#scaleSelect {
  min-width: 142px;
}