.menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.btn {
  width: 100px;
  height: 40px;
  background: rgba(255, 165, 0, 0.58);
  color: green;

  z-index: 2;
  &:active {
    background: aqua;
  }
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

nav {
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  border-right: 5px outset rgba(16, 29, 126, 0.33);
  background: rgba(0, 0, 255, 0.46);
  font-size: 1.2rem;
  font-family: Raleway, sans-serif, SansSerif;
  ul {
    list-style: none;
    color: white;
    margin-top: 70%;
    li {
      padding-bottom: 20%;
    }
  }
}





