.pdf {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  #buttons {
    height: 5vh;
    display: flex;
    color: lightgoldenrodyellow;
    align-items: flex-start;
    width: 80vw;
    position: absolute;
    top: 2%;
    .marginL {
      margin-right: 2%;
    }
    .marginR {
      margin-left: 2%;
    }
    .min {
      width: 8%;
      background: #000090;
      color: antiquewhite;
      font-size: 0.8rem;
    }
    button {
      //background: rgba(0, 0, 206, 0.48);
      background: #000090;
      color: antiquewhite;
      width: 15%;
      font-size: 0.8rem;
    }
    .page {
      color: navy;
      font-size: 100%;
      display: flex;
      flex-wrap: nowrap;
      margin: 0 10%;
      position: absolute;
      top: 100%;
      left: 37%;
    }
    .minL {
      margin-right: 10%;
    }
    .minR {
      margin-left: 10%;
    }
  }
  #box {
    background: rgba(96, 183, 209, 0.32);
    width: 80vw;
    height: 85vh;
    border-radius: 15px;
    border: 1px solid rgba(250, 250, 210, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    overflow-y: hidden;
    overflow-x: auto;
  }
}

.canvas {
  position: absolute;
  height: 100vh;
  top: 0;
  z-index: 10;
}

.box {
  height: 100vh !important;
  width: 100vw !important;
  background: black !important;
  margin: 0 !important;
  border-radius: 0 !important;
}

.buttons {
  display: none !important;
}