.pdf {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .buttons {
    display: flex;
    justify-content: center;
    color: lightgoldenrodyellow;
    align-items: flex-start;
    width: 80vw;
    position: absolute;
    top: 2%;
    .margin {
      margin-right: 2%;
    }
    button {
      background: rgba(0, 0, 206, 0.48);
      color: antiquewhite;
      width: 50%;
      font-size: 0.8rem;

    }
    .page {
      color: navy;
      font-size: 100%;
      display: flex;
      flex-wrap: nowrap;
      margin: 0 10%;
    }
  }
  .box {
    background: rgba(96, 183, 209, 0.32);
    width: 80vw;
    height: 85vh;
    border-radius: 15px;
    border: 1px solid rgba(250, 250, 210, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    canvas {
      border-radius: 15px;
    }
  }
}

/*
canvas {
  position: absolute;
  left:0;
  top: 45px;
  width: 100%;
  height: 100%;
}
*/