@import url(styles/bootstrap4-bubblegum.min.css);
body {
  background: url("./media/a.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  margin: 0 auto;
  width: 80%; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 0.8rem; }

nav {
  width: 100%;
  height: 7%;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 3px outset rgba(16, 29, 126, 0.33);
  background: #000090;
  z-index: 1;
  white-space: nowrap; }
  nav ul {
    display: flex;
    height: 100%;
    list-style: none;
    align-items: center; }
    nav ul li {
      padding-right: 5%; }

.nav {
  display: none !important; }

.btnMenu {
  width: 125px;
  height: 36px;
  font-size: 0.9rem;
  background: #000090;
  border: 3px solid #000090;
  border-radius: 5px;
  color: lightgoldenrodyellow;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  position: absolute;
  top: 1%;
  z-index: 2; }
  .btnMenu:hover {
    background: #741880;
    border: 3px solid #871893; }

.example-appear {
  opacity: 0.01; }

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in; }

.example-enter {
  opacity: 0.01; }

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.example-leave {
  opacity: 1; }

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }

.createPDF .createBox {
  display: flex;
  justify-content: center;
  align-items: center; }
  .createPDF .createBox .creator {
    position: absolute;
    width: 40%;
    height: 75vh;
    border: 3px solid green;
    background: #3ef169;
    margin-right: 10%;
    left: 11%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1%;
    flex-direction: column; }
    .createPDF .createBox .creator .createButtons {
      width: 100%;
      height: 35%;
      border: 1px solid blue;
      background: rgba(0, 0, 255, 0.51); }
    .createPDF .createBox .creator .text {
      width: 100%;
      height: 60%;
      background: yellow;
      border: 1px solid #bdbd00; }

iframe {
  position: absolute;
  width: 30%;
  height: 75vh;
  border: 1px solid blue;
  right: 11%; }

.pdf {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .pdf #buttons {
    height: 5vh;
    display: flex;
    color: lightgoldenrodyellow;
    align-items: flex-start;
    width: 80vw;
    position: absolute;
    top: 2%; }
    .pdf #buttons .marginL {
      margin-right: 2%; }
    .pdf #buttons .marginR {
      margin-left: 2%; }
    .pdf #buttons .min {
      width: 8%;
      background: #000090;
      color: antiquewhite;
      font-size: 0.8rem; }
    .pdf #buttons button {
      background: #000090;
      color: antiquewhite;
      width: 15%;
      font-size: 0.8rem; }
    .pdf #buttons .page {
      color: navy;
      font-size: 100%;
      display: flex;
      flex-wrap: nowrap;
      margin: 0 10%;
      position: absolute;
      top: 100%;
      left: 37%; }
    .pdf #buttons .minL {
      margin-right: 10%; }
    .pdf #buttons .minR {
      margin-left: 10%; }
  .pdf #box {
    background: rgba(96, 183, 209, 0.32);
    width: 80vw;
    height: 85vh;
    border-radius: 15px;
    border: 1px solid rgba(250, 250, 210, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    overflow-y: hidden;
    overflow-x: auto; }
    .pdf #box canvas {
      border-radius: 15px; }

.canvas {
  position: absolute;
  height: 100vh;
  top: 0;
  z-index: 10; }

.box {
  height: 100vh !important;
  width: 100vw !important;
  background: black !important;
  margin: 0 !important;
  border-radius: 0 !important; }

.buttons {
  display: none !important; }

/*# sourceMappingURL=App.css.map */
