html {
  width: 100vw;
  height: 100%;
  position: relative;
  overflow: auto; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.App {
  align-items: center;
  font-family: 'Lato', sans-serif;
  display: flex;
  font-weight: 300;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  background: #252D3F;
  overflow: auto;
  position: relative;
  top: 0;
  left: 0; }

.ImageBG {
  position: absolute;
  top: -5vh;
  left: -5vw;
  width: 110vw;
  height: 110vh;
  background-size: cover;
  filter: blur(15px);
  opacity: 1;
  mix-blend-mode: multiply; }

.Settings {
  width: 90vw;
  height: 90vh;
  position: relative;
  z-index: 2;
  overflow-y: auto; }

.MainWrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 85%; }
  .MainWrapper .Sidebar {
    width: 30%;
    max-width: 350px;
    height: 100%;
    background: rgba(46, 56, 79, 0.85); }
    @media screen and (max-width: 880px) {
      .MainWrapper .Sidebar {
        display: none; } }
    .MainWrapper .Sidebar .Title {
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      color: #FFFFFF;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: .2em;
      font-size: 12px; }
    .MainWrapper .Sidebar .Setting {
      padding: 0 20px;
      margin-top: 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
      .MainWrapper .Sidebar .Setting label {
        font-weight: 400;
        text-transform: uppercase;
        color: #FFFFFF;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        font-size: 12px;
        letter-spacing: .2em;
        opacity: .5; }
      .MainWrapper .Sidebar .Setting input {
        width: 100%;
        margin-bottom: 20px; }

@font-face {
  font-family: 'Lato';
  src: url("./fonts/Lato/Lato-Bold.eot");
  src: local("Lato Bold"), local("Lato-Bold"), url("./fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Lato/Lato-Bold.woff2") format("woff2"), url("./fonts/Lato/Lato-Bold.woff") format("woff"), url("./fonts/Lato/Lato-Bold.ttf") format("truetype"), url("./fonts/Lato/Lato-Bold.svg#Lato-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("./fonts/Lato/Lato-LightItalic.eot");
  src: local("Lato-LightItalic"), url("./fonts/Lato/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/Lato/Lato-LightItalic.woff2") format("woff2"), url("./fonts/Lato/Lato-LightItalic.woff") format("woff"), url("./fonts/Lato/Lato-LightItalic.ttf") format("truetype"), url("./fonts/Lato/Lato-LightItalic.svg#Lato-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("./fonts/Lato/Lato-Light.eot");
  src: local("Lato-Light"), url("./fonts/Lato/Lato-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/Lato/Lato-Light.woff2") format("woff2"), url("./fonts/Lato/Lato-Light.woff") format("woff"), url("./fonts/Lato/Lato-Light.ttf") format("truetype"), url("./fonts/Lato/Lato-Light.svg#Lato-Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("./fonts/Lato/Lato-Regular.eot");
  src: local("Lato Regular"), local("Lato-Regular"), url("./fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Lato/Lato-Regular.woff2") format("woff2"), url("./fonts/Lato/Lato-Regular.woff") format("woff"), url("./fonts/Lato/Lato-Regular.ttf") format("truetype"), url("./fonts/Lato/Lato-Regular.svg#Lato-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lato Hairline';
  src: url("./fonts/Lato/Lato-Hairline.eot");
  src: local("Lato-Hairline"), url("./fonts/Lato/Lato-Hairline.eot?#iefix") format("embedded-opentype"), url("./fonts/Lato/Lato-Hairline.woff2") format("woff2"), url("./fonts/Lato/Lato-Hairline.woff") format("woff"), url("./fonts/Lato/Lato-Hairline.ttf") format("truetype"), url("./fonts/Lato/Lato-Hairline.svg#Lato-Hairline") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("./fonts/Lato/Lato-Black.eot");
  src: local("Lato Black"), local("Lato-Black"), url("./fonts/Lato/Lato-Black.eot?#iefix") format("embedded-opentype"), url("./fonts/Lato/Lato-Black.woff2") format("woff2"), url("./fonts/Lato/Lato-Black.woff") format("woff"), url("./fonts/Lato/Lato-Black.ttf") format("truetype"), url("./fonts/Lato/Lato-Black.svg#Lato-Black") format("svg");
  font-weight: 900;
  font-style: normal; }

/*# sourceMappingURL=App.css.map */
